/* #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    text-align: center;
    background-color: rgb(250, 237, 205);
    background: linear-gradient(to bottom, var(--platinum) 8%, var(--mellow-yellow) 100%);
    background: linear-gradient(to bottom, var(--platinum) 50%, var(--mellow-yellow) 50%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    background: linear-gradient(to bottom right, var(--platinum) 10%, var(--mellow-yellow) 90%);
  } */
  
 #about h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  
  #about p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
    
  @media screen and (max-width: 768px) {
    #about {
      padding: 2rem;
    }
    
    #about h1 {
      font-size: 2rem;
    }
    
    #about p {
      font-size: 1.2rem;
    }
  }
  