
.home-words{
  z-index: 2;
  margin-top: 150px;
  backdrop-filter: blur(4px);
  background-color: rgba(188,143,143, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 2rem;
    font-style: italic;
  }

  #home img {
    border-radius: 50%; /* Make the image round */
    max-width: 200px; /* Set a maximum width */
    z-index: 2; 
  }

  img.bouncing {
    animation: bounce 0.5s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  /* @media (max-width: 600px) {
    img {
      max-width: 150px;
    }
    #home {
      padding-top: 400px;
      padding-bottom: 400px;
    }
  }

  @media (min-width: 1600px) {
    #home {
      height:100vw;
    }
  } */

  @media (max-width: 600px) {
    img {
      max-width: 150px; 
    }
    #home {
      padding-top: 400px;
      padding-bottom: 400px;
    }
    .home-words {
      margin-top: 50px;
      padding: 5px 10px;
      font-size: 1.5rem;
      border-radius: 5px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1200px) {
    #home {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    .home-words {
      margin-top: 75px;
      padding: 8px 16px;
      font-size: 2rem;
      border-radius: 8px;
    }
  }
  
  @media (min-width: 1201px) and (max-width: 1600px) {
    #home {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .home-words {
      margin-top: 100px;
      padding: 10px 20px;
      font-size: 2.5rem;
      border-radius: 10px;
    }
  }
  
  @media (min-width: 1601px) {
    #home {
      width: 100%;
    }
    .home-words {
      margin-top: 150px;
      padding: 15px 30px;
      font-size: 3rem;
      border-radius: 15px;
    }
  }