/* Light mode */
:root {
  --platinum: #CDD7D4;
  --reseda-green: #697C68;
  --dark-green: #132213;
  --bistre: #3B2514;
  --chestnut: #954324;
  --rosy-brown: #C69B88;
  --night: #0D1307;
  --mellow-yellow:rgb(250, 237, 205);
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #f5f5f5; */
  /* background-color: var(--platinum); */
  /* color: #333; */
  color: var(--night);
}

a {
  font-weight: bold;
  /* color: rgb(212, 163, 115); */
  color: var(--mellow-yellow);
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  padding-bottom: 2px;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

a:hover {
  /* color: rgb(250, 237, 205); */
  color: var(--reseda-green);
  /* border-bottom: 10px solid rgb(254, 250, 224); */
  border-bottom: 10px solid var(--reseda-green);
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
  z-index: 2;
}

/* Dark mode */
.dark-mode {
  background-color: #054F1D;
  color: #f5f5f5;
}

.dark-mode button{
  background-color: #054F1D;
  color: #f5f5f5;
}

.dark-mode #home{
  /* background-image: var(--dark-bg-image); */
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode #about{
  /* background-image: var(--dark-bg-image); */
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode #projects{
  /* background-image: var(--dark-bg-image); */
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode #connect{
  /* background-image: var(--dark-bg-image); */
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode .footer {
  margin-top: 70px;
  background-color: #054F1D;
}

.dark-mode .footer a {
  color: rgb(212, 163, 115);
}

.dark-mode .footer a:hover {
  color:  rgb(204, 213, 174);;
  border-bottom: 10px solid rgb(254, 250, 224);
}


.dark-mode a {
  color: rgb(212, 163, 115);
}

.dark-mode a:hover {
  color: rgb(250, 237, 205);
  border-bottom: 10px solid rgb(254, 250, 224);
}

/* Seamless Scroll */
html {
  scroll-behavior: smooth;
}

/* 
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
  background: linear-gradient(to bottom right, var(--platinum) 75%, rgb(250, 237, 205) 50%);
} */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
  background-image: url('https://lh3.googleusercontent.com/pw/AMWts8CEu6cVQ3emsphkNRq_gU4MXla2BK1aIcmLPlPpRjsQgSKAmbVCYVt7u10p1LZ-ftfld-MZg24TUxNJ5h3zY278EfI-8MDqG_IkbFCwbOr_KDuQ2w57BQ6tlgDfkbnJhre-LS-3Hl3dlo0xwXkaxwQG1Q=w1704-h1278-s-no?authuser=1');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* #home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--rosy-brown);
  opacity: 0.2; 
  z-index: 1;
} */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
  /* background: linear-gradient(to bottom left, var(--platinum) 50%, var(--mellow-yellow) 50%) no-repeat top right/100vw 100vh, linear-gradient(to bottom right, var(--platinum) 75%, rgb(250, 237, 205) 50%); */
  background-image: url('https://lh3.googleusercontent.com/pw/AMWts8DVSL_7ZsYhMhytP36IvpLJZWSO8ztjNnMsGuSkFm8PN4Ny6icOcz5HcW7lTg4qtkz_mDeQNNAKcCRnz077b_Bq2MbOrtPrweuzp4azM8O1U5Gm8mpZ0Gj7yBrHwROSIAlGKczkOEUnBIfSVRrVAhn9pw=w1239-h929-no?authuser=0');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  z-index: -1;
}


#projects {
  /* background-color: rgb(250, 237, 205); */
  background: linear-gradient(to bottom, var(--mellow-yellow) 20%, var(--rosy-brown) 100%);
  padding: 50px 0;
}
#connect {
  background-color: rgb(250, 237, 205);
  background: linear-gradient(to bottom, var(--rosy-brown) 20%, var(--chestnut) 100%);
  padding: 50px 0;
  text-align: center;
}
/* 
#home::before,
#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--rosy-brown);
  opacity: 0.4;
  mix-blend-mode: multiply;
  z-index: 1;
} */
