/* Light mode */
:root {
  --platinum: #CDD7D4;
  --reseda-green: #697C68;
  --dark-green: #132213;
  --bistre: #3B2514;
  --chestnut: #954324;
  --rosy-brown: #C69B88;
  --night: #0D1307;
  --mellow-yellow:rgb(250, 237, 205);
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #f5f5f5; */
  /* background-color: var(--platinum); */
  /* color: #333; */
  color: var(--night);
}

a {
  font-weight: bold;
  /* color: rgb(212, 163, 115); */
  color: var(--mellow-yellow);
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  padding-bottom: 2px;
  transition: all 0.2s ease-in-out;
}

a:hover {
  /* color: rgb(250, 237, 205); */
  color: var(--reseda-green);
  /* border-bottom: 10px solid rgb(254, 250, 224); */
  border-bottom: 10px solid var(--reseda-green);
  font-size: 18px;
  border-radius: 5px;
  margin-left: 20px;
}

/* Dark mode */
.dark-mode {
  background-color: #054F1D;
  color: #f5f5f5;
}

.dark-mode button{
  background-color: #054F1D;
  color: #f5f5f5;
}

.dark-mode #home{
  /* background-image: var(--dark-bg-image); */
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode #about{
  /* background-image: var(--dark-bg-image); */
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode #projects{
  /* background-image: var(--dark-bg-image); */
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode #connect{
  /* background-image: var(--dark-bg-image); */
  background-color: #B68B01;
  color: #f5f5f5;
}

.dark-mode .footer {
  margin-top: 70px;
  background-color: #054F1D;
}

.dark-mode .footer a {
  color: rgb(212, 163, 115);
}

.dark-mode .footer a:hover {
  color:  rgb(204, 213, 174);;
  border-bottom: 10px solid rgb(254, 250, 224);
}


.dark-mode a {
  color: rgb(212, 163, 115);
}

.dark-mode a:hover {
  color: rgb(250, 237, 205);
  border-bottom: 10px solid rgb(254, 250, 224);
}

/* Seamless Scroll */
html {
  scroll-behavior: smooth;
}

/* 
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
  background: linear-gradient(to bottom right, var(--platinum) 75%, rgb(250, 237, 205) 50%);
} */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
  background-color: var(--platinum);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23697c68' d='M0,30 C10,45 25,60 40,70 C60,85 80,90 100,80 V0 H0 Z'/%3E%3Cpath fill='%23c69b88' d='M100,80 C85,85 70,85 60,80 C50,75 45,70 40,60 C35,50 30,35 20,20 C10,5 0,0 0,0 V100 H100 Z'/%3E%3C/svg%3E");

  /* Crazy pattern */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23697c68' d='M0,30 C10,45 25,60 40,70 C60,85 80,90 100,80 C90,85 70,85 60,80 C50,75 45,70 40,60 C35,50 30,35 20,20 C10,5 0,0 0,0 C10,15 20,30 40,30 C60,30 70,15 100,30 Z'/%3E%3Cpath fill='%23c69b88' d='M100,80 C85,85 70,85 60,80 C50,75 45,70 40,60 C35,50 30,35 20,20 C10,5 0,0 0,0 C10,15 20,30 40,30 C60,30 70,15 100,30 C85,40 75,50 60,60 C45,70 35,75 20,80 C35,85 50,85 60,80 C75,75 85,70 100,60 V100 H0 V80 C15,85 25,85 40,80 C55,75 65,70 80,60 C95,50 100,40 100,30 Z'/%3E%3C/svg%3E"); */

}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
  background: linear-gradient(to bottom left, var(--platinum) 50%, var(--mellow-yellow) 50%) no-repeat top right/100vw 100vh, linear-gradient(to bottom right, var(--platinum) 75%, rgb(250, 237, 205) 50%);
}

#projects {
  /* background-color: rgb(250, 237, 205); */
  background: linear-gradient(to bottom, var(--mellow-yellow) 20%, var(--rosy-brown) 100%);
  padding: 50px 0;
}
#connect {
  background-color: rgb(250, 237, 205);
  background: linear-gradient(to bottom, var(--rosy-brown) 20%, var(--chestnut) 100%);
  padding: 50px 0;
  text-align: center;
}